<div class="container">
  <h1> <%= @cocktail.name %></h1>
  <div class="ingredients-list">
    <% if (@cocktail.doses.length > 0) %>
      <% @cocktail.doses.each do |dose| %>
        <div class="card-product my-2">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= dose.ingredient.name %></h2>
            <p> <%= dose.description %></p>
          </div>
          <%= link_to dose_path(dose), method: :delete do %>
            <i class="fas fa-minus-circle"></i>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>Composition encore secrète...</p>
    <% end %>
    <%= link_to "Add a new dose in the your mix", new_cocktail_dose_path(@cocktail), {class: "btn btn-danger my-2"} %>
  </div>
  <%= link_to "Back to the barman's list", cocktails_path, {class: "btn btn-primary my-2"} %>
</div>
